<h1>User <%= @user.username.capitalize %>'s Profile</h1>

<p><b>Posts created: </b><%= link_to "#{@user.posts.count}", user_posts_path(@user.id) %></p>
<p><b>Friends: </b><%= "#{@user.friends.count}"</p>
<p><b>Account Creation Date: </b><%= @user.created_time_formatted %></p>

<% unless @user == curent_user %>
  <%= button_to "Add Friend", friendships_path, params: { friendship: { user_id: current_user.id, friend_id: @user.id } } %>
<% end %>